@charset "UTF-8";
/* CSS Document */

h1 {
	color: #731313;
	margin-bottom: 1.5em;
	font-family: Times, Serif;
	font-weight: bolder;
}
h2 {
	color: #731313;
	margin-bottom: 1.5em
}
p {
	font-family: Georgia, Times, Serif;
}
.logo {
	margin-bottom: 1.5em;
}